:host {
  display: block;
  width: 100%;
  height: 100vh;
}

.game-container {
  width: 100%;
  height: 100%;
  background: #000;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
